<!-- <h2>Check-In</h2>

<form method="POST" action="">
  Place Name:
  <input type="text" name="place">
  <br>
  What kind of spot is this?<br>
  <input type="checkbox" name="wifi"> Wifi<br>
  <input type="checkbox" name="bathroom"> Public Bathroom<br>
  <input type="checkbox" name="quiet"> Quiet Place<br>
  Rating:<br>
  <input type="radio" name="rating" value="1"> 1 (Sad) <br>
  <input type="radio" name="rating" value="2"> 2 (Boo) <br>
  <input type="radio" name="rating" value="3"> 3 (Aiight) <br>
  <input type="radio" name="rating" value="4"> 4 (Cool) <br>
  <input type="radio" name="rating" value="5"> 5 (Extraordinary) <br>
  <br>
  Tip:
  <input type="text" name="tip">
  <br><br>
  <input type="submit" value="Submit">
</form>  -->

<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Places Search Box</title>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #placeNameInput {
        /* display: none; */
        width: 600px;
        outline: none;
        border: none;
      }
      #placeAddressInput {
        /* display: none; */
        width: 600px;
        outline: none;
        border: none;
      }

      #placeGoogleId {
        display: none;
        outline: none;
        border: none;
      }
      #placeLat {
        display: none;
        outline: none;
        border: none;
      }
      #placeLong {
        display: none;
        outline: none;
        border: none;
      }
      #spotList {
        display: none;
        outline: none;
        border: none;
      }
      #map {
        height: 60%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 60px;
        padding: 60px;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
    </style>
</head>

<body>
  <div id="filterPanel">
    Filter by: <br>
    <input type="checkbox" name="wifiFilter" onchange="reloadDBMarkers()"> Wifi<br>
    <input type="checkbox" name="bathroomFilter" onchange="reloadDBMarkers()"> Public Bathroom<br>
    <input type="checkbox" name="quietFilter" onchange="reloadDBMarkers()"> Quiet Place<br>
  </div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>
  <button onclick="getLocation()">Share My Current Location</button>
  <form method="POST" action="">
    <div id='placeName'>Your Chosen Place Name: </div>
    <!-- make place required but place is a hidden field?-->
    <input type="text" name='placeName' id="placeNameInput" value="you must click on a pin">
    <br>
    <div id='placeAddress'>Your Chosen Place Address: </div>
    <input type="text" name='placeAddress' id="placeAddressInput" readonly="">
    <br>
    <input type="text" name='placeGoogleId' id="placeGoogleId" readonly="">
    <input type="text" name='placeLat' id="placeLat" readonly="">
    <input type="text" name='placeLong' id="placeLong" readonly="">
    What kind of spot is this?<br>
    <input type="radio" name="placeKind" value="wifi" required> Wifi<br>
    <input type="radio" name="placeKind" value="bathroom"> Public Bathroom<br>
    <input type="radio" name="placeKind" value="quiet"> Quiet Place<br>
    Rating:<br>
    <input type="radio" name="rating" value="1" required> 1 (Sad) <br>
    <input type="radio" name="rating" value="2"> 2 (Boo) <br>
    <input type="radio" name="rating" value="3"> 3 (Aiight) <br>
    <input type="radio" name="rating" value="4"> 4 (Cool) <br>
    <input type="radio" name="rating" value="5"> 5 (Extraordinary) <br>
    <br>
    Tip:
    <input type="text" name="tip" required>
    <br><br>
    <input type="submit" id="submitButton" value="Submit">
  </form>
  Tips: <br>
  <div id="tipList">
    You haven't selected a place yet.
  </div>
  <!-- <div id="setLat"> -->
  <% if (locals.setLat) { %>
  <p id="innerLat">
    <%= setLat %>
  </p>
  <% } %>
  <!-- </div> -->
  <!-- <div id="setLong"> -->
  <% if (locals.setLong) { %>
  <p id="innerLong">
    <%= setLong %>
  </p>
  <% } %>
  <!-- </div> -->
  <div id="spotList">
    <%- JSON.stringify(spots) %>
  </div>
  <script src="js/checkin.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-yMF_1lEOcOidKth8PsGX2eTTNthb02A&libraries=places&callback=initAutocomplete"
    async defer></script>
</body>

</html>>
