<h2>Check-In</h2>

<form method="POST" action="">
  Place Name:
  <input type="text" name="place">
  <br>
  What kind of spot is this?<br>
  <input type="checkbox" name="wifi"> Wifi<br>
  <input type="checkbox" name="bathroom"> Public Bathroom<br>
  <input type="checkbox" name="quiet"> Quiet Place<br>
  Rating:<br>
  <input type="radio" name="rating" value="1"> 1 (Sad) <br>
  <input type="radio" name="rating" value="2"> 2 (Boo) <br>
  <input type="radio" name="rating" value="3"> 3 (Aiight) <br>
  <input type="radio" name="rating" value="4"> 4 (Cool) <br>
  <input type="radio" name="rating" value="5"> 5 (Extraordinary) <br>
  <br>
  Tip:
  <input type="text" name="tip">
  <br><br>
  <input type="submit" value="Submit">
</form> 
