<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Places Search Box</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <div id="filterPanel">
    Filter by: <br>
    <input type="checkbox" name="wifiFilter" onchange="reloadDBMarkers()"> Wifi<br>
    <input type="checkbox" name="bathroomFilter" onchange="reloadDBMarkers()"> Public Bathroom<br>
    <input type="checkbox" name="quietFilter" onchange="reloadDBMarkers()"> Quiet Place<br>
  </div>

  <div id="filterRate">
    Filter current makrers by rating: <br>
    <input type="checkbox" name="wifiFilter" onclick="loadRatings(this)"> Rating<br>
  </div>
  <ol id='rating'></ol>
  <div id="map"></div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div>
    <img src="/images/my_location_icon.png" width="35" align="middle">
    <b>=</b>
    <button onclick="getLocation()">Share My Current Location</button>
  </div>
  <br>
  <form method="POST" action="">
    <div id='placeName'>Your Chosen Place Name: </div>
    <input type="text" name='placeName' id="placeNameInput" value="Click on pin or use search bar on map!">
    <br>
    <div id='placeAddress'>Your Chosen Place Address: </div>
    <input type="text" name='placeAddress' id="placeAddressInput" readonly="">
    <br>
    <input type="text" name='placeGoogleId' id="placeGoogleId" readonly="">
    <input type="text" name='placeLat' id="placeLat" readonly="">
    <input type="text" name='placeLong' id="placeLong" readonly="">
    What kind of spot is this?<br>
    <input type="radio" name="placeKind" value="wifi" required> Wifi<br>
    <input type="radio" name="placeKind" value="bathroom"> Public Bathroom<br>
    <input type="radio" name="placeKind" value="quiet"> Quiet Place<br>
    Rating:<br>
    <input type="radio" name="rating" value="1" required> 1 (Sad) <br>
    <input type="radio" name="rating" value="2"> 2 (Boo) <br>
    <input type="radio" name="rating" value="3"> 3 (Aiight) <br>
    <input type="radio" name="rating" value="4"> 4 (Cool) <br>
    <input type="radio" name="rating" value="5"> 5 (Extraordinary) <br>
    <br>
    Tip:
    <input type="text" name="tip" required>
    <br><br>
    <input type="submit" id="submitButton" value="Submit">
  </form>
  <% if (locals.setLat) { %>
  <p id="innerLat">
    <%= setLat %>
  </p>
  <% } %>
  <% if (locals.setLong) { %>
  <p id="innerLong">
    <%= setLong %>
  </p>
  <% } %>
  <div id="spotList">
    <%- JSON.stringify(spots) %>
  </div>
  <script src="js/checkin.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-yMF_1lEOcOidKth8PsGX2eTTNthb02A&libraries=places&callback=initAutocomplete"
    async defer></script>
</body>

</html>
