<h1>Find Your Spot!</h1>
<ul>
  <li>Wifi</li>
  <li>Public Bathrooms</li>
  <li>Quiet Places</li>
</ul>

<% if(spots) {%>
  <ul>
    <% for(var i=0; i<spots.length; i++) { %>
      <li><%= spots[i].name %></li>
      <ul>
        <li><%= spots[1].check_ins %></li>
      </ul>
    <% } %> 
  </ul>
<% } %>

<% if(user) {%>
  <div>
    Username: <%=user.name%>
  </div>
<% } %>
